.progressIndicatorWrapper {
  display: inline-block;
  border: none;
  margin: 0.2rem;
  padding: 0.2rem;
}
.progressIndicatorWrapper.active {
  margin: 0;
  border: 0.2rem solid;
  border-image: linear-gradient(
      var(--angle),
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0)
    )
    1;
}

.progressIndicatorWrapper.clockwise {
  animation: 1s rotateCW ease-in infinite;
}

.progressIndicatorWrapper.counterClockwise {
  animation: 1s rotateCCW ease-in infinite;
}

@keyframes rotateCW {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
@keyframes rotateCCW {
  from {
    --angle: 360deg;
  }
  to {
    --angle: 0deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
