.sideMenuWrapper {
  height: 100vh;
  width: 2rem;
  background-color: #efeef7;
  transition: all 0.5s ease;
  overflow: hidden;
  flex: 0;
}

.sideMenuWrapper.show {
  width: 40rem;
  overflow: visible;
}

.sideMenuHeader {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  background-color: #2353bb;
  color: white;
  padding: 0.5rem;
  width: 20rem;
}
.sideMenuHeader button {
  font-size: 1rem;
}

.sideMenuWrapper .menu-item {
  padding: 0.5rem;
}

.sideMenuContent {
  padding: 0.5rem;
  font-size: 0.8rem;
}

.sideMenuHeader button {
  border-radius: 50%;
  background-color: #cdc9ec;
  padding: 0.3rem;
  color: white;
  margin: 0 0.5rem;
}
